@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 96%; /* Subtle light background */
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 142 76% 36%;
    --primary-foreground: 355.7 100% 97.3%;

    --secondary: 120 16.7% 90.2%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 143 76% 97%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }
}

body {
  background-image: url("/src/frog.png");
  background-attachment: fixed;
  background-repeat: repeat; /* Allow the background to repeat */
  background-size: 350px 350px; /* Adjust the size of the repeated background */
  background-position: top left; /* Start the background alignment from the top-left corner */
  background-color: #ffffff; /* Ensure a solid white background */
}

.min-h-screen {
  background-color: transparent !important; /* Make it transparent to ensure the background image is visible */
}

.gradient-progress {
  background: linear-gradient(
    to right,
    rgba(52, 211, 153, 0.7),
    rgba(16, 185, 129, 0.7),
    rgba(5, 150, 105, 0.7)
  );
}


@media (max-width: 640px) {
  .sm\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
